.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
}

.list {
  color: white;
  list-style: none;
  display: flex;
  &_item {
    margin-right: 20px;
  }
}
